blank_function/StateMachine.json
{
  "Comment": "A description of my state machine",
  "StartAt": "AddDragonFunction",
  "States": {
    "AddDragonFunction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:815185358789:function:MyLambfaFunc-AddDragon-pJyUqJk8fgic:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "File saved correctly?"
    },
    "File saved correctly?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.statusCode ",
          "NumericEquals": 200,
          "Next": "MainDragonFunction",
          "Comment": "File saved: statusCode = 200"
        }
      ],
      "Default": "File can´t save"
    },
    "MainDragonFunction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:815185358789:function:MyLambfaFunc-MainDragon-jgUYXo1L50Zj:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "File can´t save": {
      "Type": "Fail"
    }
  }
}